@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --background: #A9A9A9;
  --dark-background: #282C33;
  --image-url: url('./assets/starry-bg.png');
  --primary: #88e788;
  --secondary: #3d3b3b; 
  --dark-secondary: #A9A9A9;
}

body {
  background-image: var(--image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  
}

.home-parent {
  @apply h-screen max-w-screen scroll-smooth scrollbar-hidden
}

.nav-link {
  @apply overflow-hidden relative w-1/5 p-4
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@layer components {
  .nav-link-shine::after {
    content: '';
    @apply absolute top-0 left-[-75%] w-1/2 h-full pointer-events-none;
    background: linear-gradient(
      120deg,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.5) 50%,
      rgba(255,255,255,0) 100%
    );
    transform: skewX(-25deg);
    animation: shine 2s infinite;
  }

  @keyframes shine {
    0% { left: -75%; }
    50% { left: 125%; }
    100% { left: 125%; }
  }
}

/* checkbox for toggle light and dark mode */
.checkbox-input {
  display: none;
}

.toggle-slider {
  display: inline-block;
  width: 150px;
  height: 100px;
  background-image: url("./assets/light-mode.png");
  background-size: cover;
  cursor: pointer;
  border-radius: 25px;
  transition: background-image 0.4s;
}

.checkbox-input:checked + .toggle-slider {
  background-image: url("./assets/dark-mode.png");
}
