@import "tailwindcss";

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --background: #282C33;
}

.snap-home-parent {
  @apply h-screen max-w-screen overflow-y-scroll snap-y snap-mandatory scroll-smooth scrollbar-hidden
}

.snap-home-child {
  @apply max-w-screen overflow-hidden
}

.snap-projects-parent {
  @apply w-screen h-screen overflow-x-scroll snap-x snap-mandatory scroll-smooth scrollbar-hidden flex flex-row
}

.snap-projects-child {
  @apply w-screen h-full flex-none
}

.nav-link {
  @apply overflow-hidden relative w-1/5 p-4
}

@layer components {
  .nav-link-shine::after {
    content: '';
    @apply absolute top-0 left-[-75%] w-1/2 h-full pointer-events-none;
    background: linear-gradient(
      120deg,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.5) 50%,
      rgba(255,255,255,0) 100%
    );
    transform: skewX(-25deg);
    animation: shine 2s infinite;
  }

  @keyframes shine {
    0% { left: -75%; }
    50% { left: 125%; }
    100% { left: 125%; }
  }
}