@import "tailwindcss";

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --background: #282C33;
  --image-url: url('./assets/starry-bg.png');
  --primary: #88e788;
  --secondary: #A9A9A9; 
}

body {
  background-image: var(--image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  
}

.home-parent {
  @apply h-screen max-w-screen scroll-smooth scrollbar-hidden
}

.snap-home-child {
  @apply max-w-screen overflow-hidden
}

.snap-projects-parent {
  @apply w-screen h-screen overflow-x-scroll snap-x snap-mandatory scroll-smooth scrollbar-hidden flex flex-row
}

.snap-projects-child {
  @apply w-screen h-full flex-none
}

.nav-link {
  @apply overflow-hidden relative w-1/5 p-4
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@layer components {
  .nav-link-shine::after {
    content: '';
    @apply absolute top-0 left-[-75%] w-1/2 h-full pointer-events-none;
    background: linear-gradient(
      120deg,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.5) 50%,
      rgba(255,255,255,0) 100%
    );
    transform: skewX(-25deg);
    animation: shine 2s infinite;
  }

  @keyframes shine {
    0% { left: -75%; }
    50% { left: 125%; }
    100% { left: 125%; }
  }
}

